server {
        listen 80;
        listen [::]:80;
        server_name          epogodin.ru www.epogodin.ru;
        root /var/www/epogodin.ru/html;
        index index.html index.htm index.nginx-debian.html;
}
